@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Система Управления Персоналом</h1>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Уникальная система</h5>
            <div class="card-text">Управляйте вашими сотрудниками из одного веб-приложения</div>
        </div>
    </div>
    <div class="text-center">
        <img src="./img/welcome.jpg" class="rounded img-fluid" alt="image:welcome" />
    </div>
</div>
