@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Политика конфиденциальности</h1>

<p>1) Первое правило Бойцовского клуба: не упоминать о Бойцовском клубе.</p>
<p>2) Второе правило Бойцовского клуба: не упоминать нигде о Бойцовском клубе.</p>
<p>3) Третье правило Бойцовского клуба: боец крикнул «стоп», выдохся, отключился — бой окончен.</p>
<p>4) Четвертое: в бою участвуют лишь двое.</p>
<p>5) Пятое: один бой за вечер, друзья.</p>
<p>6) Шестое: снимать обувь и рубашки.</p>
<p>7) Седьмое: бой продолжается столько, сколько нужно.</p>
<p>8) Восьмое и последнее: тот, кто впервые пришёл в клуб — примет бой.</p>
