@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Список должностей</h1>
</div>
<div class="container mt-2">
    <div class="card">
        <a class="btn btn-primary text-white mx-3 my-3" href="~/Jobs/AddJob" role="button">
            <i class="bi bi-plus"></i>
            <i class="bi bi-person-badge-fill"></i>
            Добавить новую должность
        </a>
        <div class="card-body">
            @if (ViewBag.JobsCount == 0)
            {
                <div class="alert alert-primary mt-3 mx-3" role="alert">
                    Таблица должностей пуста.
                </div>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ИД</th>
                            <th scope="col">Название</th>
                            <th scope="col">Базовый оклад</th>
                            <th scope="col">Сотрудник</th>
                            <th scope="col" colspan="2">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model)
                        {
                            <tr>
                                <th scope="row">@job.Id</th>
                                <td>@job.Title</td>
                                <td>@job.Salary</td>
                                <td>@job.Employee.FullName</td>
                                <td colspan="2">
                                    <a class="btn btn-dark text-white ml-1"
                                       href="~/Jobs/EditJob?id=@job.Id"
                                       role="button">
                                        <i class="bi bi-pen-fill"></i>
                                    </a>
                                    <a class="btn btn-danger text-white"
                                       href="~/Jobs/AcceptDelete?id=@job.Id"
                                       role="button">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
