@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Редактировать запись сотрудника</h1>
    @if (ViewBag.JobsCount >= 2)
    {
        <div class="alert alert-warning" role="alert">
           Сотрудник занимает две или более должностей одновременно.
        </div>
    }
    <div class="alert alert-danger" role="alert" id="asu-error"></div>
</div>
<div class="container mt-2">
    <div class="card">
        <div class="card-body">
            <form method="post"
                  asp-action="UpdateEmployee"
                  asp-controller="Employees"
                  onsubmit="CheckEmployeeForm(event)"
                  id="asu-form">
                <input type="hidden" name="id" value="@Model.Id" />
                <div class="mb-3">
                    <label for="cipher" class="form-label">Шифр</label>
                    <input type="text" value="@Model.Cipher" name="cipher" class="form-control" id="cipher">
                </div>
                <div class="mb-3">
                    <label for="fullName" class="form-label">ФИО</label>
                    <input type="text" value="@Model.FullName" name="fullName" class="form-control" id="fullName">
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Дата рождения</label>
                    <input type="date" value="@Model.BirthDate.ToString("yyyy-MM-dd")" name="birthDate" class="form-control" id="birthDate">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Пол</label>
                    <select name="gender" class="form-select" id="gender">
                        @if (Model.Gender == 0)
                        {
                        <option selected>не указан</option>
                        }
                        else
                        {
                        <option>не указан</option>
                        }

                        @if (Model.Gender == 1)
                        {
                        <option value="1" selected>мужской</option>
                        }
                        else
                        {
                        <option value="1">мужской</option>
                        }

                        @if (Model.Gender == 2)
                        {
                        <option value="2" selected>женский</option>
                        }
                        else
                        {
                        <option value="2">женский</option>
                        }

                        @if (Model.Gender == 3)
                        {
                        <option value="3" selected>трансформер</option>
                        }
                        else
                        {
                        <option value="3">трансформер</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" asp-action="UpdateEmployee">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>